{% extends "base.html" %}

{% block title %} Administrador - Crear {% endblock %}

{% block navbar %}
  {% include "../components/navbar.html"%}
{% endblock %}

{% block body %}

<form action="create" method="post"> {% csrf_token %}
  <table>
    <tr>
      <td>Número de artículo</td>
      <td><input type="number" name="nro_articulo" placeholder="Ingrese numero del artículo" /></td>
    </tr>

    <tr>
      <td>Nombre</td>
      <td><input type="text" name="nombre" placeholder="Ingrese nombre del artículo" /></td>
    </tr>

    <tr>
      <td>Ubicación</td>
      <td><input type="date" name="ubicacion" placeholder="Ingrese ubicación del artículo" /></td>
    </tr>

    <tr>
      <td>Stock</td>
      <td><input type="number" name="curso" placeholder="Ingrese stock del artículo" /></td>
    </tr>

    <tr>
      <td>Descripción</td>
      <td><input type="text" name="descripcion" placeholder="Ingrese descripción del artículo" /></td>
    </tr>    
  </table>

  <div class="form-group py-5">
    <button type="submit" class="btn btn-success btn-block">Ingresar</button>
    <button type="button" class="btn btn-danger btn-block" onclick="document.location.href='../home'">Cancelar</button>
  </div>
</form>

{% endblock %}