{% extends "../base.html" %}

{% block titulo %} Administrador - Listar {% endblock %}

{% block navegador%}
  {% include "../components/navbar.html"%}
{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>
            Rut
          </th>

          <th>
            Correo Electrónico
          </th>

          <th>
            Nombre
          </th>

          <th>
            Contraseña
          </th>

          <th>
            Direccion
          </th>

          <th>
            Telefono
          </th>
        </tr>
      </thead>

      <tbody>
        {% for p in personas %}
        <tr>
          <td>{{p.rut}}</td>
          <td>{{p.correo_electronico}}</td>
          <td>{{p.nombre}}</td>
          <td>**************</td>
          <td>{{p.direccion}}</td>
          <td>{{p.telefono}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}